In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
df = pd.read_excel('mass_shootings_1982_2020.xlsx', sep=',')

In [9]:
df.head()

,case,location,date,summary,fatalities,injured,total_victims,location.1,age_of_shooter,prior_signs_mental_health_issues,...,weapon_details,race,gender,sources,mental_health_sources,sources_additional_age,latitude,longitude,type,year
0,Molson Coors shooting,"Milwaukee, Wisconsin",2020-02-26,"Anthony Ferrill, 51, an employee armed with tw...",5,0,5,Workplace,51,-,...,-,Black,M,https://www.jsonline.com/story/news/local/2020...,-,-,43.044511,-87.962537,Mass,2020
1,Jersey City kosher market shooting,"Jersey City, New Jersey",2019-12-10,"David N. Anderson, 47, and Francine Graham, 50...",4,3,7,Other,-,-,...,-,Black,-,https://www.nytimes.com/2019/12/15/nyregion/je...,-,-,40.707363,-74.083609,Spree,2019
2,Pensacola Naval base shooting,"Pensacola, Florida",2019-12-06,"Ahmed Mohammed al-Shamrani, A Saudi Arabian mi...",3,8,11,Military,-,-,...,-,-,M,https://www.washingtonpost.com/national-securi...,-,-,30.364707,-87.288567,Mass,2019
3,Odessa-Midland shooting spree,"Odessa, Texas",2019-08-31,"Seth A. Ator, 36, fired at police officers who...",7,25,32,Other,36,yes,...,-,White,M,https://www.washingtonpost.com/politics/5-kill...,https://www.nytimes.com/2019/09/02/us/texas-gu...,-,31.925974,-102.279600,Spree,2019
4,Dayton entertainment district shooting,"Dayton, Ohio",2019-08-04,"Connor Betts, 24, died during the attack, foll...",9,27,36,Other,24,-,...,"AR-15-style rifle, with a 100-round capacity a...",White,M,https://www.nytimes.com/2019/08/04/us/dayton-o...,-,-,39.757312,-84.184947,Mass,2019

In [10]:
df.shape
#shows the shape of the data frame

(118, 24)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 24 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   case                              118 non-null    object
 1   location                          118 non-null    object
 2   date                              118 non-null    datetime64[ns]
 3   summary                           118 non-null    object
 4   fatalities                        118 non-null    int64
 5   injured                           118 non-null    int64
 6   total_victims                     118 non-null    int64
 7   location.1                        118 non-null    object
 8   age_of_shooter                    118 non-null    object
 9   prior_signs_mental_health_issues  118 non-null    object
 10  mental_health_details             118 non-null    object
 11  weapons_obtained_legally          118 non-null    object
 12  where_obtained                    118 non-null    object
 13  weapon_type                       118 non-null    object
 14  weapon_details                    118 non-null    object
 15  race                              118 non-null    object
 16  gender                            118 non-null    object
 17  sources                           118 non-null    object
 18  mental_health_sources             118 non-null    object
 19  sources_additional_age            118 non-null    object
 20  latitude                          118 non-null    float64
 21  longitude                         118 non-null    float64
 22  type                              118 non-null    object
 23  year                              118 non-null    int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(17)
memory usage: 22.2+ KB

In [12]:
for col in df.columns:
    print(col, df[col].nunique())

case 118
location 110
date 118
summary 118
fatalities 21
injured 30
total_victims 38
location.1 8
age_of_shooter 44
prior_signs_mental_health_issues 8
mental_health_details 89
weapons_obtained_legally 9
where_obtained 73
weapon_type 67
weapon_details 102
race 11
gender 6
sources 118
mental_health_sources 81
sources_additional_age 101
latitude 118
longitude 118
type 2
year 36

In [17]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')

In [18]:
df['date']

0     2020-02-26
1     2019-12-10
2     2019-12-06
3     2019-08-31
4     2019-08-04
         ...
113   1987-04-23
114   1986-08-20
115   1984-07-18
116   1984-06-29
117   1982-08-20
Name: date, Length: 118, dtype: datetime64[ns]

In [28]:
num_yr = pd.to_datetime(df['date']).dt.year.value_counts()

In [34]:
num_yr.sort_values(ascending=False, inplace=True)

In [35]:
num_yr

2018    12
2017    11
2019    10
2015     7
2012     7
2016     6
1999     5
2013     5
2007     4
2009     4
1993     4
2014     4
1998     3
1991     3
2008     3
2006     3
2011     3
1984     2
1997     2
1989     2
1992     2
2005     2
1986     1
1995     1
1987     1
1988     1
1990     1
2001     1
2020     1
2000     1
1996     1
2003     1
2004     1
1994     1
2010     1
1982     1
Name: date, dtype: int64